<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/logo.png">
  <title>Тренажер ОГЭ по английскому</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!--
    <script src="utilites.js"></script>
    <script src="jszip/jszip.min.js"></script>-->
  <script src="tasks_data.js" defer></script>
  <script type='application/javascript' src="script.js" defer></script>
  <script type='application/javascript' src='microphone.js' defer></script>
  <script src="speaker.js" defer></script>

  <link rel="stylesheet" href="styles.css">
  <link href="css/fontawesome.min.css" rel="stylesheet">
  <link href="css/solid.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>

  <div class="container-fluid d-flex flex-column" style="height: 100vh;">
    <div id='app'>
      <header>
        <div class="row justify-content-center">
          <div class="col-2">
            <img src="images/logo.png" alt="Logo" onclick="logoClick()">
          </div>
          <div class="col-6" style="text-align: center;">
            <span style="visibility:visible;">{{content.levelTxt}}</span>
            <span class="red">{{content.mic_message}}</span>
          </div>

          <div class="col-4 d-flex justify-content-end ">
            <div v-show='shows.isShowPrepare'>
              <span style='text-align: right'>{{content.preparationTimeText}}</span><br>
              <span class='fa-solid fa-clock'></span><span style='text-align: right'>{{content.answerTimeText}}</span>
            </div>
          </div>
        </div>
      </header>
      <!-------------                    -->
      <div v-show="shows.isShowSelect" >
        <div class="row text-center">
          <div class="col">
            <h3>Тренажер работает в браузере <img src="images/Microsoft_Edge_logo_(2019).svg.png" style="width: 25px;">Microsoft Edge</h3>
          </div>
        </div>
      <div class="row text-center">
        <div class="col-6">
          <ul style="list-style: none;">
            <li><button class="btn btn-primary mt-1" onclick="variant(1)">Вариант 1</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(2)">Вариант 2</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(3)">Вариант 3</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(4)">Вариант 4</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(5)">Вариант 5</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(6)">Вариант 6</button></li>
          </ul>
        </div>
        <div class="col-6">
          <ul style="list-style: none;">
            <li><button class="btn btn-primary mt-1" onclick="variant(7)">Вариант 7</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(8)">Вариант 8</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(9)">Вариант 9</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(10)">Вариант 10</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(11)">Вариант 11</button></li>
            <li></li>
            <li><button class="btn btn-primary mt-1" onclick="variant(12)">Вариант 12</button></li>


          </ul>
        </div>

      </div>
    </div>
      <!--Main-->
      <div v-if="shows.isShowMain">
        <div v-if='shows.isShowMain' class="row">
          <h4 v-if='shows.isShowHeader1' class='col col-md-12 my_header' v-html='content.head1'></h4>
          <h4 v-if='shows.isShowHeader2' class='col-12 my_header text-center' v-html='content.head2'></h4>
        </div>
        <hr>
        <div class="row d-flex justify-content-center flex-wrap">
          <h4 v-if='shows.isShowHeader3' class='my_header' v-html='head3'></h4>
          <div v-if="shows.isShowMain" class="col-md main">
            <div v-html='content.mainText'>
            </div>
            <div v-html='content.text2' class="col-md font-weight-bold">
            </div>
          </div>
          <div v-if='shows.isShowImage1' class="row text-center">
            <figure class="figure">
              <figcaption v-if="shows.isShowCaption" class="figure-caption" style="font-weight: bold;">Photo 1
              </figcaption>
              <img v-bind:src="content.image1" class="my_image">
            </figure>
          </div>

        </div>
      </div>
      <!--Main-->

      <!---->
      <div v-show="shows.isShowAudioContainer" class="row">
        <!--AudioContainer-->
        <div id='audioContainer' style="margin-left: 20px;">

        </div>
        <div v-if='shows.isShowResult' style='height: 40px;' class='col-6 float-right'>
          <button class="btn btn-primary" id="downloadRecording" @click='downloadRecording()'>Скачать все
            аудизаписи</button>

          <!--AudioContainer-->
          <details style="margin-left: 100px;">
            <summary>Просмотреть задания</summary>
            <embed v-bind:src="content.task_filename" width="800" height="600" type="application/pdf">
          </details>
        </div>
        <!--
        <div>
          <button class="btn btn-primary" onclick="window.location.reload()">К выбору выриантов</button>
          
        </div>-->
      </div>
      <!--CountDown Timer-->
      <div class='row'>
        <div v-if="shows.isShowCountdown" class="col-12 timer_caption text-center">

          <div>{{countDown.text}}</div>
          <div class='timer_caption'>{{ countDownContent }}</div>
          <div>seconds</div>
        </div><!-- CountDown TIMER-->
      </div>


    </div><!--app-->
    <!--bottom button -->
    <div class="row mt-auto" id="bottomDiv" style="display: none;">
      <div class="col">
        <div class="d-flex justify-content-center" >
          <button class="btn btn-primary" onclick='start()'><span id="bottomButton">Понятно</span></button>
        </div>
      </div>
    </div>
    <!--RECORDER-->
    <div id="recorder" class="row mt-auto" v-show="isShowRecorder">

      <div class="recorder col">
        <div class="left-recorder">
          <div :class='micReadyIcon'></div>
          <div :class='currentIcon' @click='toggleIcon'></div>
        </div>
        <div class="center-recorder">
          <div id="progress-bar-fill" :style="'width: ' + progressValue + '%'">
          </div>
        </div>
        <div class="right-recorder">
          <div v-show="isShowTime" class="format-time">
            {{formatTime}}
          </div>
          <button id="recorderButtonNext" class='btn btn-primary  my-btn' @click='nextStep()'>{{param.nextStepText}}</button>
        </div>
      </div>

    </div>

    <!--------------- ---------------->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

    </script>
  <!--
  <div class="container-fluid d-flex flex-column" style="border: 1px dotted red;">
  </div>-->

</body>

</html>